# Godot 4+ specific ignores
.godot/
/android/

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Visual Studio Code
.vscode/
*.code-workspace
.history/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]uilds/

settings.ini
